<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div *ngIf="!complete">
            <h1>Password Reset Confirmation Form</h1>
            <div *ngIf="errors.uid">
                <div class="alert alert-danger" *ngFor="let error of errors.uid">{{error}}</div>
            </div>
            <form role="form" name="confirmResetForm" novalidate>
                <div class="form-group">
                    <label for="password_1">New Password</label>
                    <input type="password" class="form-control" [(ngModel)]="password1" name="password1" id="password_1" required/>
                </div>
                <div *ngIf="errors.new_password1">
                <div class="alert alert-danger" *ngFor="let error of errors.new_password1">{{error}}</div>
                </div>
                <div class="form-group">
                    <label for="password_2">Repeat Password</label>
                    <input type="password" class="form-control" [(ngModel)]="password2" name="password2" id="password_2" required>
                </div>
                <div *ngIf="errors.new_password2">
                <div class="alert alert-danger" *ngFor="let error of errors.new_password2">{{error}}</div>
                </div>
                <button type="submit" (click)="confirmPassword()"  class="btn btn-primary">Reset Password</button>
            </form>
        </div>
        <div *ngIf="complete">
            <div class="alert alert-success">You have changed your password. Please <b><a [routerLink]="[loginUrl]">Log in Again</a></b></div>
        </div>
    </div>
</div>

