<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div *ngIf="!complete">
            <h1>Password Reset Form</h1>
            <p>Enter your email address below,
                and we'll email an link to create a new one.</p>
            <form role="form" name="passwordResetForm" novalidate>
                <div class="form-group">
                    <label for="emailaddress">Email</label>
                    <input class="form-control" [(ngModel)]="email" name="email" id="emailaddress" required>
                </div>
                <div *ngIf="error.email">
                    <div class="alert alert-danger" *ngFor="let e of error.email">{{e}}</div>
                </div>

                <button (click)="resetPassword()"  class="btn btn-primary">Reset Password</button>
            </form>
        </div>
        <div *ngIf="complete">
            <div class="alert alert-success">You should receive an email shortly from <b>timestream@p33.io</b> with instructions on how to reset your account password. <b>Please check your spam.</b></div>
        </div>
    </div>
</div>

