<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/dashboard/']">
        <img style="height:40px; margin-top: -8px;" src="assets/images/TimeStream-v1-white.png" />
      </a>


    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a *ngIf="isAuthenticated" [routerLink]="['/dashboard/']">Dashboard</a></li>
        <li><a *ngIf="isAuthenticated" [routerLink]="['/jobs/']">My Jobs</a></li>
        <!--<li><a [routerLink]="['/jobs/:jobId/pay-periods']">Dashboard ( pay periods )</a></li>-->

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="!isAuthenticated" [routerLink]="[loginUrl]">Login</a></li>
        <li *ngIf="isAuthenticated && isAdmin" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngIf="isAdmin"><a [routerLink]="['/admin/dashboard']">Dashboard (Admin)</a></li>
            <li *ngIf="isAdmin" role="separator" class="divider"></li>
            <li class="dropdown-header">Users</li>
            <li><a [routerLink]="['/admin/users']">Users</a></li>
            <li><a [routerLink]="['/admin/user']">New User</a></li>
            <li *ngIf="isAdmin" role="separator" class="divider"></li>
            <li class="dropdown-header">Jobs</li>
            <li><a [routerLink]="['/admin/jobs']">Job Listings</a></li>
            <li *ngIf="isAdmin" role="separator" class="divider"></li>
            <li class="dropdown-header">Reports</li>
            <li><a [routerLink]="['/admin/reports']">Payroll Report</a></li>
            <li><a [routerLink]="['/admin/vacation-sickday-report']">Vacation Sickday Report</a></li>
          </ul>
        </li>
        <li *ngIf="isAuthenticated" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{ userDisplayName }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/auth/forgot-password']">Reset Password</a></li>
            <li><a *ngIf="isAuthenticated" (click)="logout()" style="cursor: pointer;">Logout</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>